head
{
    max-height: 10px;
    /* vertical-align:middle; */
    /* display: flex; */
    /* gap: 10px; */
}

body
{
    padding-top: 30px;
    background-color: #dddddd;
    color: black;
    font-family: Arial;
    font-size: large;
    padding-left: 50px;
    /* gap: 10px; */
}

.profile-picture
{
    border: 1px solid #330b35;
    border-radius: 4px;
    /* padding: 5px; */
    width: 180px;
    float:left
}

#contact
{
    font-family: sans-serif;
    font-weight: bold;
    padding-left: 20px;
    float: left;
    p{
        font-weight: normal;
        font-family: monospace;
        text-decoration: dashed;
        padding-left: 20px;
    }
}

#text-beside
{
    display: flex;
    /* align-items: baseline; */
    /* align-content: center; */
}

#image_name
{
    /* display: flex; */
    float: right;
}

#upperblock
{
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.link-container
{
    position: relative;
    /* align-self: ; */
    float: right;
    padding-right: 50px;
    /* display: grid; */
    display: list-item;
    gap: 10px;
    justify-content: center;
}

.link {
    margin: 10px;
    /* padding-bottom: 10px; */
    display: flex;
    color: white;
    background-color: rgba(12, 116, 172, 0.765);
    font-size: x-large;
    border-radius: 4px;
    /* margin-left: 10px; */
    min-width: 150px;
    height: 50px;
    /* font-weight: bold; */
    text-decoration-line: none;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
}


.link-small
{
    display: inline;
    text-decoration-line: none;
}

pre
{
    /* text-align: center; */
    font-family: Arial;
}

#aboutme
{
    p{
        padding-left: 30px;
    };

    a{
        text-decoration-line: none;
    }
}


/* Light mode */
/* @media (prefers-color-scheme: light) {
    body {
    }
} */
/* Dark mode */
/* @media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(27, 6, 48);
        color: white;
    }
} */
